/* Global Styles 
(383838, 066163, cdbe78, f2f2f2 - use this color only) 
*/
body {
  font-family: 'Space Mono', monospace;
  color: #f2f2f2; /* Light Gray */
  background-color: #383838; /* Dark Gray for text */
  
  background-color: #000000;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px ), repeating-linear-gradient( #38383855, #383838 );
}

/* Navbar Styles */
.navbar {
  border-bottom: 2px solid #383838; /* Dark Gray */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Relative shadow effect */
}

.navbar-nav .nav-link {
  color: #cdbe78 !important; /* Tan for navbar links */
}

/* Card Styles with Glass Effect */
.card {
  border: 1px solid #cdbe78; /* Tan for card borders */
  background-color: #383838; /* White with 80% opacity */
  backdrop-filter: blur(30 px); /* Apply a blur effect */
}

.card-header {
  background-color: rgba(6, 97, 99, 0.8); /* Teal Green for card headers with 80% opacity */
  color: #f2f2f2; /* Light Gray text on Teal Green background */
}


li
{
  color: #383838;
}

/* Footer Styles */
footer {
  background-color: #066163; /* Teal Green for the footer */
  color: #f2f2f2; /* Light Gray text on Teal Green background */
  padding: 10px 0;
}

/* Learning Page Specific Styles */
#skillLevel {
  background-color: #cdbe78; /* Tan for skill level selector */
}

#curatedResources {
  border: 1px solid #066163; /* Teal Green for resource borders */
}

/* Journal Page Specific Styles */
#freeFormWriting {
  background-color: #f2f2f2; /* Light Gray for journal text entry */
}

#gratitudeList {
  color: #066163; /* Teal Green for gratitude list text */
}

#moodInput {
  background-color: #383838; /* Dark Gray for mood input */
  color: #f2f2f2; /* Light Gray text on Dark Gray background */
}


